/*HEADER y GENERAL*/

body{
    margin: 0px;
    background-color: #0f2827;
    color: #d8bd84;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}

*{
    box-sizing: border-box;
}

/*Movil Menu*/

#movilHead{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: auto;
    height: 3.5rem;
    display: none;
}

#movilHead i{
    font-size: 1.8rem;    
}

#menuClick{
    margin-left: 1rem;
    padding: .3rem;
}

#movilHead #wavyCont{
    width: 10rem;
}

#movilHead h1{
    font-size: 2.5rem;
}

#movilHead div:first-child{
    grid-column: 1;
}

#movilHead div:nth-child(2){
    grid-column: 7/10;
}

#movilHead img{
    height: 2.5rem;
}

#movilMenu{
    display: none;
    position: absolute;
    top: 3.5rem;
    background: linear-gradient(to right, black, rgb(37, 36, 36));
    width: 100%;
}

#movilMenu #izq{
    margin-right: 0px;
    width: 95%;
    
}

#movilMenu #der{
    margin-right: 0px;
    width: 100%;
    padding-left: 0px;
}


/*Wave Effect*/

#wavyCont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    padding-left: 1.5rem;
}

.border{
    color: black;
    text-shadow: -1px -1px 0 #d8bd84,
                 1px -1px 0 #d8bd84,
                 1px 1px 0 #d8bd84,
                 -1px 1px 0 #d8bd84;
}

.wave{
    color: #1b6665;
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
    0%, 100% {
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

#wavyCont h1{
    position: absolute;
}

h1{
    color: #d8bd84;
    font-size: 3rem;
}

nav li, li a{
    color: #d8bd84;
    font-size: 1.5rem;
    font-weight: bolder;
}

nav li>a:hover{
    border: 2px solid #d8bd84;
    border-radius: 6px;
    transition: .3s;
    background-color: #0f2827;
}

header{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 2px solid #d8bd84;     
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(37,36,36,1) 100%);
}

header img{
    height: 8.5vh;
    margin-right: 0.5rem;
}

#izq{
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    width: 70%;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav li{
    margin-right: 1rem;
    padding: .2rem 0px;
    margin-right: .5rem;
}


header ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;    
    width: 100%;
}

nav{
    width: 70%;
    margin-left: 1rem;
    padding-left: 1rem;
}

header ul li{
    list-style: none;
    margin-right: 1rem;
}

header ul li a{
    text-decoration: none;
}

p::first-letter{
    font-size: 1.7rem;
}

main>h2,h3{
    text-align: center;
}

header input{
    outline: none;
    border: none;
    border-bottom: 2px solid #d8bd84;
    background-color: transparent;
    color: #d8bd84;
    font-family: inherit;
    margin-bottom: .5rem;
}

header button{
    border: none;
    border: 2px solid #d8bd84;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    color: #d8bd84;
    width: 100%;   
}

header button:hover{
    background-color: #0f2827;
    transition: 0.3s;
}

header label{
    color: #d8bd84 !important;   
}



#der{
    width: 30%;
}

#der div:first-child input{
    margin-right: 0px;
}

#der div:first-child{
    display: flex;
    justify-content: space-between;
}

#der div:nth-child(2){
    display: flex;
    justify-content: space-between;
}

#der form{
    width: 100%;
}

#der i{
    color: #d8bd84;
    font-size: 1.8rem;
}

#awasome{
    display: flex;
    justify-content: space-evenly !important;
    width: 100%;
    margin-bottom: .5rem;
}


main{
    margin-top: 15rem;
}

/*SECTION A*/

section.seccionA{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.enemigos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 1rem;
}

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-grow: 1;
}

.enemigos h2{
    text-align: center;
}

.enemigos img{
    width: 20%;
    float: right;
    height: 13vh;
    object-fit: cover;
    margin-left: .5rem;
    margin-bottom: .5rem;
}

.enemigos button{
    width: 100%;
    color: #d8bd84;
    background-color: #0f2827;
    border: 2px solid #d8bd84;
    padding: .5rem 0px;
    border-radius: 6px;
    cursor: pointer;
}

.enemigos button:hover{
    background-color: black;
    transition: 0.3s;
}

/*SECCION B*/

#contacto{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}

#contacto img, form{
    width: 50%;
    padding: 1rem;
}

#contacto form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;    
}

textarea{
    width: 100%;
    height: 25vh;
    margin-bottom: 2rem;
    resize: none;
}

#contacto button{
    margin-top: 2rem;
    padding: .3rem;
    width: 100%;
}

#usuarioMail{
   width: 100%;   
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 2rem;
}

#usuarioMail div{
    margin-bottom: 1rem;
}

#mail{
    margin-right: .4rem;
}

#seccionB>h2, #seccionC>h2{
    text-align: center;
    color: #d8bd84;
}


#seccionB input{
    outline: none;
    border: none;
    border-bottom: 2px solid #d8bd84;
    background-color: #0f2827;
    color: #d8bd84;
    font-family: inherit;
}

#seccionB textarea{
    border: none;
    border: 2px solid #d8bd84;
    border-radius: 6px;
    color: inherit;
    font-family: inherit;
    background-color: #0f2827;
}

#seccionB button{
    border: none;
    border: 2px solid #d8bd84;
    border-radius: 6px;
    color: inherit;
    font-family: inherit;
    background-color: #0f2827;
    cursor: pointer;
}

#seccionB button:hover{
    background-color: black;
    transition: 0.3s;
}

/*SECCION C*/

table img{
    width: 100%;
    display: block;
    height: 15vh;
    object-fit: cover;  
    height: 47.5vh;   
    min-width: 250px; 
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    display: block;
    overflow-x: auto;
}

table th,td{
    border: 2px solid #d8bd84;
    width: 16.6%;
    color: #d8bd84;
    text-align: center;
}

th{
    background-color: black !important;
    color: #d8bd84;
}

tbody>tr:nth-child(2n){
    background-color: rgb(26, 25, 25);
}

tbody>tr:nth-child(2n+1){
    background-color: rgb(3, 3, 29);
}

ul{
    display: inline-block;
}

#tablaMovil{
    display: none;
}

/*SECCION D*/

#gal{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12, 7.465vh);
    height: 90vh;
    border: 2px solid #d8bd84;
    width: 90%;
    margin: auto;
}

#gal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#p1{
    grid-row: 1/5;
    grid-column: 1/5;
}

#p2{
    grid-row: 1/5;
    grid-column: 5/11;
}

#p3{
    grid-row: 1/5;
    grid-column: 11/13;
}

#p4{
    grid-row: 5/13;
    grid-column: 1/5;
}

#p5{
    grid-row: 5/13;
    grid-column: 5/10;
}

#p6{
    grid-row: 5/13;
    grid-column: 10/13;
}

/*SECCION E*/

#chess{
    display: grid;
    grid-template-rows: repeat(8,64px);
    grid-template-columns: repeat(8,64px);
    background-image: url(../assets/img/piezas/tablero.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

#chess img{
    width: 90%;
}

#chess>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*White Pieces*/

#wp1{
    grid-row: 7;
    grid-column: 1;
}
#wp2{
    grid-row: 7;
    grid-column: 2;
}
#wp3{
    grid-row: 7;
    grid-column: 3;
}
#wp4{
    grid-row: 7;
    grid-column: 4;
}
#wp5{
    grid-row: 7;
    grid-column: 5;
}
#wp6{
    grid-row: 7;
    grid-column: 6;
}
#wp7{
    grid-row: 7;
    grid-column: 7;
}
#wp8{
    grid-row: 7;
    grid-column: 8;
}

#wr1{
    grid-row: 8;
    grid-column: 1;
}
#wc1{
    grid-row: 8;
    grid-column: 2;
}
#wa1{
    grid-row: 8;
    grid-column: 3;
}
#wq{
    grid-row: 8;
    grid-column: 4;
}
#wk{
    grid-row: 8;
    grid-column: 5;
}
#wa2{
    grid-row: 8;
    grid-column: 6;
}
#wc2{
    grid-row: 8;
    grid-column: 7;
}
#wr2{
    grid-row: 8;
    grid-column: 8;
}

/*Black Pieces*/

#bp1{
    grid-row: 2;
    grid-column: 1;
}
#bp2{
    grid-row: 2;
    grid-column: 2;
}
#bp3{
    grid-row: 2;
    grid-column: 3;
}
#bp4{
    grid-row: 2;
    grid-column: 4;
}
#bp5{
    grid-row: 2;
    grid-column: 5;
}
#bp6{
    grid-row: 2;
    grid-column: 6;
}
#bp7{
    grid-row: 2;
    grid-column: 7;
}
#bp8{
    grid-row: 2;
    grid-column: 8;
}

#br1{
    grid-row: 1;
    grid-column: 1;
}
#bc1{
    grid-row: 1;
    grid-column: 2;
}
#ba1{
    grid-row: 1;
    grid-column: 3;
}
#bq{
    grid-row: 1;
    grid-column: 4;
}
#bk{
    grid-row: 1;
    grid-column: 5;
}
#ba2{
    grid-row: 1;
    grid-column: 6;
}
#bc2{
    grid-row: 1;
    grid-column: 7;
}
#br2{
    grid-row: 1;
    grid-column: 8;
}

/*----------------------------------------------*/

@media (min-width:576px) and (max-width:980px){
    header{
        justify-content: space-around;
    }

    #der{
        padding-left: 5rem;
        width: 65%;
    }

    #izq{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    nav{
        padding-left: 2rem !important;
    }

    #logo{
        width: 40% !important;
        margin: 0px;
    }    

    nav ul{
        width: 100% !important;
        justify-content: center;
    }

    main{
        margin-top: 26rem;
    }
}

@media (min-width:576px) and (max-width:1200px){  

    /*Seccion A*/

    section.seccionA{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 97%;
        margin: auto;
    }
    /*Seccion B*/

    #contacto{
        width: 100%;
    }

    /*Seccion C*/

    table{
        width: 100%;
    }
}

@media (max-width:576px){

    #movilHead{
        display: grid;
    }

    #webHead{
        display: none;
    }  

        
    nav{
        width: 100% !important;
    }  
    
    main{
        margin-top: 6rem;
    }
    
    
    /*Seccion A*/

    section.seccionA{        
        justify-content: center;
        width: 100%;
        margin: 0px;
        flex-direction: column;  
    }

    .enemigos{
        width: 98%;
        margin: auto;
        padding: 0px;
    }

    .enemigos p img{
        width: 50%;
        height: 15vh;
    }

    /*Seccion B*/

    #usuarioMail{
        display: block;
    }

    #usuarioMail>div{
        width: 100%;
    }

    #contacto{
        width: 100%;
    }

    #primerDiv{
        margin-bottom: 2rem;
    }
    /*Preguntar si quitar padding tambien en el form*/
    #contacto form{
        width: 100%;
        padding: .5rem;
    }

    #contacto img{
        width: 100%;
        order: 2;
        padding: 0px;
    }

    /*Seccion C*/

    #tablaMovil{
        display: block;
        width: 98%;
    }

    #tablaMovil th,td{
        padding: .3rem 0px;
    }

    #tablaWeb{
        display: none;
    }

    table#tablaMovil img{
        height: 50vh;
    }

    /*Seccion D*/
    #gal{
        width: 98%;
    }
}